<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <title>发送邮件</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
</head>

<body>
<div class="col-md-6" style="margin:20px;padding:20px;border: #E0E0E0 1px solid;">
    <marquee behavior="alternate" onfinish="alert(12)" id="mq"
             onMouseOut="this.start();$('#egg').text('嗯 真听话！');"
             onMouseOver="this.stop();$('#egg').text('有本事放开我呀！');">
        <h5 id="egg">^_^！</h5><img id="doge" src="http://pics.sc.chinaz.com/Files/pic/faces/3709/7.gif" alt="">
    </marquee>
</div>
<div>
    <form action="/mail/sendMail" method="post">
        邮件发信人:<input type="text" name="from" th:value="${from}" readonly="readonly"/><br/>
        邮件收信人:<input type="text" name="to"  title="多个邮箱使用 ; 隔开"/><br/>
        邮件主题:<input type="text" name="subject"/><br/>
        邮件内容:<input type="text" name="text" rows="5" style="width: 800px;height: 80px"/><br/>
        邮件附件:<input name="files" type="file" multiple="multiple"/><br/>
        <!--密码：<input type="password" name="password"/><br/>-->
        <input type="submit" value="提交"/>
    </form>
</div>

</br>
</br>
</br>
<div>
    <form role="form">
        <div class="form-group">
            <label for="name">名称</label>
            <input type="text" class="form-control" id="name" placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label for="inputfile">文件输入</label>
            <input type="file" id="inputfile">
            <p class="help-block">这里是块级帮助文本的实例。</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">请打勾
            </label>
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>
</div>

</body>
</html>