<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stockIndex</title>
</head>
<body>
<hr width="300" align="left">

<h4 th:text="${stockdata}" th:each="stockdata:${stockName}"></h4><!--th:eachg对传入的数组进行遍历-->
<h4 th:text="${stockdata}" th:each="stockdata:${stockNum}"></h4><!--th:eachg对传入的数组进行遍历-->
<h4 th:text="${stockdata}" th:each="stockdata:${currPrice}"></h4><!--th:eachg对传入的数组进行遍历-->

<table class="table">
    <caption>基本的表格布局</caption>
    <thead>
    <tr>
        <th>名称</th>
        <th>城市</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Tanmay</td>
        <td>Bangalore</td>
    </tr>
    <tr>
        <td>Sachin</td>
        <td>Mumbai</td>
    </tr>
    </tbody>
</table>
<hr width="300" align="left">
</body>
</html>