<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>IndexPage</title>
</head>
<body>
</br>
<a href="index/">test page</a>
<br>
<div style="height:2px;width:200px;border-top:1px solid #ccc;float:left;margin-top:15px;"></div>
<br>

<a href="mail/">send mail page</a>
<br>
<div style="height:2px;width:200px;border-top:1px solid #ccc;float:left;margin-top:15px;"></div>
<br>

<a href="table/tableIndex">tableIndex page</a>
<br>
<div style="height:2px;width:200px;border-top:1px solid #ccc;float:left;margin-top:15px;"></div>
<br>

<a href="stock/stockIndex">stockIndex page</a>
<br>
<div style="height:2px;width:200px;border-top:1px solid #ccc;float:left;margin-top:15px;"></div>
<br>

<a href="http://www.baidu.com">baidu page</a>

</body>
</html>